<h4>Application Form</h4>
<form action="/job/{{job['ID']}}/apply" method="post">
  <div class="mb-2">
    <label for="name">Full Name</label><br>
    <input type="text" name="name" id="name">
  </div>
  <div class="mb-2">
    <label for="mail">Email</label><br>
    <input type="email" name="mail" id="mail">
  </div>
  <div class="mb-2">
    <label for="linkedin">LinkedIn</label><br>
    <input type="text" name="linkedin" id="linkedin">
  </div>
  <div class="mb-2">
    <label for="education">Education</label><br>
    <textarea name="education" id="education"></textarea>
  </div>
  <div class="mb-2">
    <label for="work_experience">Work Experience</label><br>
    <textarea name="work_experience" id="work_experience"></textarea>
  </div>
  <div class="mb-3">
    <label for="resume">Resume</label><br>
    <input type="text" name="resume" id="resume">
  </div>
  <input type="submit">
</form>